* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Inconsolata", monospace;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100vh;
}

.welcome-text {
    max-width: 1200px;
    font-size: 80px;
    font-weight: bold;
    background-color: #ff665e6a;
    margin-top: 36vh;
    color: #ffffff;
    padding: 30px;
    border-radius: 25px;
    box-shadow:0px 10px 25px -5px rgba(136, 136, 136, 0.264);

}

.welcomeGuideText {
    font-size: 18px;
    margin-top: 80vh;
    font-weight: lighter;
    opacity: 0;
}

.welcomeGuideImg {
    opacity: 0;
}

.show {
    opacity: 1;
}

.top {
    position: relative;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
}

.welcome {
    text-align: center;
    justify-content: center;
    position: absolute;
}

.opacity01 {
    background-image: linear-gradient(transparent,white);
    color: transparent;
    width: 100vw;
    height: 85px;
    margin-top: 83px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.projectsTitel {
    display: flex;
    justify-content: flex-end;
    margin-top: 120px;
    border: 0;
    color: #ffffff;
    background-color: #FF665E;;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
}

.projectsDescription {
    display: flex;
    justify-content: flex-start;
    font-size: 80px;
    font-weight: bold;
    margin-top: 100px;
    margin: 0;
    border: 0;
    text-align: center;
    color: #2a2a2a;
}

.projectsBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.projectsContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    max-height: 95vh;
}


.itemBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-end;
    width: 80px;
    border-radius: 25px;
    margin: 10px;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.item {
    color: #FF665E;
    display: flex;
    flex-wrap: nowrap;
}

.icon {
    background: #FF665E;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #2a2a2a;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + .itemBox{
    width: 600px;
}

input:checked + .itemBox .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

#itemDescription{
    text-align: center;
}

.sliderButtonPrev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.sliderButtonPrev button {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    text-align: center;
    border-color: black;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.sliderButtonPrev button:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
}

.sliderButtonNext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.sliderButtonNext button {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    text-align: center;
    border-color: black;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}

.sliderButtonNext button:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #1D1D1F;
    margin-top: 220px;
}

.backgroundCV {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cvBoxLeft {
    display: flex;
    justify-content: right;
    width: 50vw;
}

.cvBoxRight {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50vw;
}

.boxCV {
    background-color: #FF665E;
    border-radius: 25px;
    height: 350px;
    width: 350px;
    margin-bottom: 50px;
    margin-right: 200px;
}   

.PictureCV {
    background-color: #ffffff;
    border-radius: 25px;
    height: 250px;
    width: 250px;
    margin-left: 230px;
    margin-top: 230px;
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}  

.cvTitle {
    display: flex;
    justify-content: flex-end;
    margin-top: 120px;
    border: 0;
    color: #ffffff;
    background-color: #FF665E;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
}

.cvDescription {
    display: flex;
    justify-content: left;
    font-size: 80px;
    font-weight: bold;
    margin-top: 100px;
    margin: 0;
    border: 0;
    text-align: center;
    color: #ffffff;
}

.summary {
    color: white;
    width: 600px;
    max-width: 90%;
    margin-left: 5%;
    text-align: center;
}

.faq-container {
margin-top: 119px;
width: 600px;
max-width: 90%;
margin-left: 5%;
}

.faq-item {
margin-bottom: 10px;
border-radius: 5px;
}

.faq-question {
padding: 10px;
background-color: #FF665E;
border-radius: 5px;
color: white;
cursor: pointer;
}

.faq-answer {
display: none;
padding: 10px;
color: white;
}

.faq-answer.active {
display: block;
}

.bottom {
    background-color: #FF665E;
    color: white;
    text-align: center;
    height: 350px;
    width: 100vw;
}

@media only screen and (max-width: 600px) {
    .welcome-text {
        font-size: 8vw; /* Responsive Schriftgröße für kleine Bildschirme */
        margin-top: 5vh;
        border-radius: 10px;
    }

    .welcomeGuideText {
        font-size: 6vw; /* Responsive Schriftgröße für kleine Bildschirme */
        margin-top: 3vh;
    }

    .opacity01 {
        height: 40px; /* Anpassung für kleine Bildschirme */
    }
}

